<h2>Directives components works!</h2>

<div>
  <h4>Directives </h4><p>component directives, structural directives, attribute directives</p>
  <p><b>component directives </b>are component is a directive with a template. It encapsulates a specific functionality and UI, making it a reusable building block in your application.</p>
  
  <!-- // Example of a Component Directive
  @Component({
    selector: 'app-example',
    template: '<p>This is a component directive!</p>',
  })
  export class ExampleComponent {
    // Component logic goes here
   } -->
   <p><b>Structural Directives</b> Structural directives change the structure of the DOM by adding or removing elements. They are recognizable by the * (asterisk) syntax in the template.</p>
  
</div>
 
 <!-- *ngIf -->
 <div *ngIf="isVisible">This element is conditionally rendered based on isVisible value is true else the div not shown</div><br>

 <!-- *ngFor using array-->
 <div>
  <h4>list of items</h4>
  <ul>
    <li *ngFor="let item of items">{{ item }}</li>
  </ul>
</div>

<!-- ngFor using objects -->
<div>
  <h4>Movies List With Details using array of objects </h4>
  <table class="movie-table">
    <thead>
      <tr>
        <th>S.no</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Days in Theaters</th>
        <th>Crews</th>
        <th>Earns</th>
        <th>Directors</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films; let odd = odd; let i = index;"  [ngClass]="{'odd-row': odd}">
        <td>{{i+1}}</td>
        <td>{{ film.title }}</td>
        <td>{{ film.budget }}</td>
        <td>{{ film.days }}</td>
        <td>{{ film.crews.join(', ') }}</td>
        <td>{{ film.earns }}</td>
        <td>{{ film.directors.join(', ') }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- ng switch cases  -->
<div>
  <h4>ngSwithch cases : it works by based on the selected value to get the div remaining divs are hide </h4>
  <input type="text" [(ngModel)]="selectedMovieGenre">

  <div [ngSwitch]="selectedMovieGenre">
    <div *ngSwitchCase="'Action'">
      <h2>Action Movies div called </h2>
    </div> 

    <div *ngSwitchCase="'Comedy'">
      <h2>Comedy Movies called </h2>
    </div>

    <div *ngSwitchCase="'Drama'">
      <h2>Drama Movies called </h2>
    </div>

    <div *ngSwitchDefault>
      <h2>Other Movies called</h2>
    </div>
  </div>
</div>
<div>
  <label>Enter the num</label><input type="text" [(ngModel)]="num" placeholder="enter the number between 1 to 3">
  <div [ngSwitch]="num">
    <div *ngSwitchCase="1">
      <h2>number1 div called</h2>
    </div>
    <div *ngSwitchCase="2">
      <h2>number 2 div called</h2>
    </div>
    <div *ngSwitchCase="3">
      <h2>number 3 div called</h2>
    </div>
    <div *ngSwitchDefault>
      <h2>other div called</h2>
    </div>
  </div>  
</div>

<!-- *ngIf -->
<div>
  <h4>ngIf Examples</h4>
  <p *ngIf="true">hello iam true pls check the false stmt code</p>
  <p *ngIf="false">hello im false im not visible cause my if condition is false</p>
  <p *ngIf="!false">hello im false im not visible cause my if condition is false</p>
  <p *ngIf="!selected">hello I'm ngIf </p>
  <p *ngIf="selected && content">hello im shown cause selected and content are true </p>
</div>


<!-- ngIf only -->
<div class="row">
  <label for="">CheckBox <input type="checkbox" [(ngModel)]="checkbox1"></label>
  <p *ngIf="checkbox1">checkbox is clicked</p>
  <p *ngIf="!checkbox1">checkbox is not clicked</p>
</div>

<!-- ngIf with else block -->
<!-- eg 1 -->

<div>
  <h4>ngIf with else block </h4>
  <div class="row">
    <label for="">CheckBox <input type="checkbox" [(ngModel)]="checkbox2"></label>
    <p *ngIf="checkbox2; else elseBlock">checkbox is clicked</p>

    <ng-template #elseBlock>
      <p>else bolck displayed and checkbox 2 is false </p>
    </ng-template>
  </div>
</div>

<div>
  <p>based on if value the div block will be changed</p>
  <input type="text" [(ngModel)]="thenvalue">
  <p *ngIf="thenvalue == 'hello'; then thenBlock else elseBlock1"></p>
  <ng-template #thenBlock>
    <p>hello then block called cause thenvalue is true reason while binding default value is hello</p>
  </ng-template>
  <ng-template #elseBlock1>
    <p>hello im else block reason thenvalue is not equal to hello </p>
  </ng-template>
</div>



<!-- attribute directive  -->
<!-- ngClass -->
<div>
  <h4>Attribute directive</h4>
  <h4>[ngClass]</h4>

  <div [ngClass]="['testClass1','testClass2','testClass3']">hello im shown using attribute directive [ngClass] using array declarations</div>
  <div [ngClass]="{'testClass1':true,'testClass2':false,'testClass3':true}">hello im shown using attribute directive [ngClass] using object value declarations</div>
  <h4>checkbox style using ngClass</h4>
  <input type="checkbox" [(ngModel)]="enableRed"><span [ngClass]= "{paraStyleColor:enableRed}">Hello if the checkbox selected im in red color due </span>
</div>

<div>
  <label><input type="checkbox" [(ngModel)]="contentColor">green</label>
  <label><input type="checkbox" [(ngModel)]="contentfontstyle">Italic</label>
  <label><input type="checkbox" [(ngModel)]="contentfontweight">Bold</label>
  <p [ngClass]="{'ColorStyle':contentColor,'fontstyle':contentfontstyle,'fontWeights':contentfontweight}">hello this is the dummy text by changing styles based on selection of checkbox</p>
</div>


<div>
  <h4>[ngStyle]</h4>
  Color:<input type="text" [(ngModel)]="styleModelcolor" placeholder="enter any color">
  <p [ngStyle]="{'backgroundColor':styleModelcolor}">hello im changing my backgroundcolor based on input through [ngstyle]</p>
</div>
<div [ngStyle]="{'color':status == 'pass'?'red':'blue'}">
  hello world im showing in red if status is pass or blue if status is !== pass
</div>


<!--Pipes-->
<div>
  <h4>Pipes</h4>
  <p>Without using pipes today = {{today}}</p>
  <p>Using date pipes = {{today|date}}</p>
  <p>Using date pipes using Medium argument = {{today|date:'medium'}}</p>
  <p>Using date pipes using short  = {{today|date:'short'}}</p>
  <p>Using date pipes using full date = {{today|date:'fullDate'}}</p>
  <p>Using long date pipes = {{today|date:'longDate'}}</p>
  <p>Using custom format  = {{today|date:'dd/mm/yyyy'}}</p>
  <!-- currencies pipes -->
  <h4>curreny pipes</h4>
  hello: <input type="text" [(ngModel)]="amount" placeholder="enter your amount"><br>
  <p>selected ammount is {{ amount | currency:'USD':'symbol':'1.2-2' }}</p>
  <p>selected ammount is {{ amount | currency:'INR':'symbol':'1.2-2' }}</p>
  <p>selected ammount is {{ amount | currency:'INR':true:'1.2-2'}} INR </p>
  <p>selected ammount is {{ 'INR ' + (amount | currency:'INR':true:'1.2-2') }} </p>
  <!-- percentage pipes -->
  <h4>percentage pipes</h4>
  <p>{{ 0.75 | percent:'2.2-2' }} </p>
  
  
  <!-- json pipes -->
  <h4>JSON Pipes</h4>
  <p>{{demoObject | json}}</p>
  
  <!-- lowercase pipes -->
  <h4>lower case & uppercase pipes</h4>
  <p>Using lowercase string =  {{DemoString | lowercase}}</p>
  <p>Using Uppercase string =  {{DemoString | uppercase}}</p>
  <p>Convert the first letter to uppercase =  {{DemoString | titlecase}}</p>
  
  <!-- slice pipes -->
  <h4>slice pipes</h4>
  <p>Convert Angulars slice of 0,4 => {{ 'Angular14' | slice:0:9 }} </p>
  <p>Convert Angular14 slice of 0,4 => {{ 'Angular14' | slice:0:4 }} </p>
  <p>Convert Angular14 slice of 1,4 => {{ 'Angular14' | slice:1:4 }} </p>
  <p>Convert Angular14 slice of 4,9 => {{ 'Angular14' | slice:4:9 }} </p>
  <b>Learn Async data$ | async after the http client integrated</b>
  
</div>


