<h2>List component works</h2>
<!-- app-your-component.component.html -->
<div>
  <h3>List of Car names</h3>
    <div *ngIf="cars.length > 0; then carlist else emptydata"></div>
    <ng-template #carlist>
      <ul>
        <li *ngFor="let carName of cars">{{ carName }}</li>
      </ul>
    </ng-template>
  
    <ng-template #emptydata>
      <p>No Data Available</p>
    </ng-template>
</div>
<div>
  <h3>List of names</h3>
  <div *ngIf="nameList.length>0; then namedata; else nonamedata"></div>
  <ng-template #namedata>
    <ul>
      <li *ngFor="let names of nameList">{{names}}</li>
    </ul>
  </ng-template>
  <ng-template #nonamedata>
    <p>No Data Available</p>
  </ng-template>
</div>

<div>
  <h3>List of Address Form Data</h3>
  <div *ngIf="AddressformData; then addressformdata; else noformdata"></div>
  <ng-template #addressformdata>
    <p>Received Form Data:</p>
    <ul>
      <li>Locality: {{ AddressformData.locality }}</li>
      <li>Pincode: {{ AddressformData.pincode }}</li>
      <li>State: {{ AddressformData.state }}</li>
    </ul>
  </ng-template>
  <ng-template #noformdata>
    <p>No Data Available</p>
  </ng-template>
</div>

<div>
  <h3>List of Orders Form </h3>
  <div *ngIf="orderformdata.length>0; then orderformdataTemplate else noorderformdata"></div>
  <ng-template #orderformdataTemplate>
    <p>Received Form Data:</p>
    <ul>
      <li *ngFor="let orders of orderformdata">
        Order ID: {{ orders.orderid }}, Product Name: {{ orders.productname }}, Quantity: {{ orders.quantity }}
      </li>
    </ul>
  </ng-template>
  <ng-template #noorderformdata>
    <p>No Data Available</p>
  </ng-template>
</div>




  
