<h4>Routing component works</h4>

<div>
    <h4>Angular Routing concept</h4>
    <p> Routing in Angular refers to the mechanism that enables navigation between different views or components in an Angular application. <br>
        It allows you to define the navigation paths and associate them with specific components. <br>
        Angular's router helps manage the navigation state of your application and enables users to navigate between <br>
        different views without the need for a full page reload.</p>
</div>

<div>
    <h4>1.Set Up Angular Router</h4>
    <div class="image-container">
        <ul>
            <li>Import <b>RouterModule</b> and <b>Routes</b> from @angular/router in your AppModule</li>
            <li>Add <b>RouterModule</b> to the imports array in the @NgModule decorator.</li>
        </ul>
        <img [src]="imageUrl" alt="My Image">
    </div>

    <div>
        <h4>2.Define Routes</h4>
        <div class="image-container">
            <ul>
              <li>Define an array of route objects. Each route object maps a URL path to a component.</li>
            </ul>
            <img [src]="'assets/routerImages/router2.png'" alt="My Image2">
        </div>
    </div>
    
    <div>
        <h4>3.Add Router outlet</h4>
        <div class="image-container">
            <ul>
              <li>Place the <b>router-outlet</b>directive in the template where you want the routed component to be displayed.</li>
            </ul>
            <img [src]="'assets/routerImages/router3.png'" alt="My Image2">
        </div>
    </div>
    
    <div>
        <h4>4.create nav links</h4>
        <div class="image-container">
            <ul>
             <li>Use the <b>routerLink</b>  directive to create navigation links.</li>
            </ul>
            <img [src]="'assets/routerImages/router4.png'" alt="My Image2">
        </div>
    </div>
    
    <div>
        <h4>5.Router Navigation</h4>
        <div class="image-container">
            <ul>
                Use the <b>Router</b> service to navigate programmatically.
            </ul>
            <img [src]="'assets/routerImages/router4.png'" alt="My Image2">
        </div>
    </div>
</div>

<div>
    Types Of Routes
    <div>
        <h4>5.Router Navigation</h4>
        <div class="image-container">
            <ul>
                There are different types of routing in Angular
            </ul>
            <img [src]="'assets/routerImages/router5.png'" alt="My Image2">
        </div>
    </div>
</div>

