<h2>Child Hooks Components works</h2>
<div>
    <h4>ngOnChanges & OnInit</h4>
    <p>onChanges works by console for <b>Title</b> </p>
    <p>this is the title ngOninit value we hardcore the the value of title is hello but im ngOnInit is showned <b>{{Title}}</b></p> <span> <p><p></span>
    <p>without Modifies ngOnInit <b>{{keyid}}</b> </p>
    </div>
<div>
     <h4>ngDoCheck</h4>
        <p>{{ contentList.join(' | ') }}</p>
        <p> count of an content is {{contentListCount}}</p>   
</div>
<div *ngIf="valueList.length > 0">
    <h4> ngIf</h4>
    <p>{{valueList.join(' , ')}}</p>
    <p>Value list length {{valueList.length}}</p>
</div>





