
<h2>Form components works</h2>
<div>
    <h4>Transfer the data from one component to another (parent to child)</h4>

    <form>
        <label for="carName">Car Name:</label>
        <input type="text" id="carName" name="carname" [(ngModel)]="carName" placeholder="Enter car name">
        <button (click)="addCars()">Submit</button>
    </form><br>
    
    <form #myForm="ngForm">
        <label for="fullname">Full Name:</label>
        <input type="text" id="firstname" name= "firstname" [(ngModel)]="firstname" placeholder="Enter your firstname" required>
        <input type="text" id="lastname" name= "lastname" [(ngModel)]="lastname" placeholder="Enter your lastname" required>
        <button (click)="getName(myForm)">Submit</button>
    </form>

    <div>
        <form #detailForm="ngForm">
            <label for="">Locality <input type="text" id="locality" name= "locality" [(ngModel)]="locality" placeholder="Enter your locality" required></label>
            <label for="">Pincode  <input type="text" id="pincode" name= "pincode" [(ngModel)]="pincode" placeholder="Enter your pincode" required></label>
            <label for="">State    <input type="text" id="state" name= "state" [(ngModel)]="state" placeholder="Enter your state" required></label>
            <button (click)="submitAddressForm(detailForm)">Submit</button>
        </form>
        <br>
    </div>
    <div>
        <form #orderForm="ngForm">
            <label for="">orderid <input type="text" id="orderid" name= "orderid" [(ngModel)]="orderid" placeholder="Enter your orderid" required></label>
            <label for="">productname  <input type="text" id="productname" name= "productname" [(ngModel)]="productname" placeholder="Enter your productname" required></label>
            <label for="">quantity    <input type="text" id="quantity" name= "quantity" [(ngModel)]="quantity" placeholder="Enter your quantity" required></label>
            <button (click)="submitOrderForm(orderForm)">Submit</button>
        </form>
        <br>
    </div>
</div>
<!-- check this below line   -->
<app-list [inputcars]="cars" [inputList]="nameList" [AddressformData]="AddressformData" [orderformdata]="orderformdata"></app-list>
<div>
    <h4>Terms and Codnitions of transfer the data from one component to another component</h4>
    <p>The above forms are created in forms component and transfered the data in to list component this can be done by two examples in above forms</p>
    <p>This can be done by several methods kindly understand the procedure to transfer the data from one component to another component</p>
    <p>create a forms with a proper label, input types, id, name, [(ngModel)] and placeholder and button in <b>Forms Component</b></p>
    <p>write a function to click the button <b>forms component</b> </p>
    <p>create an array and push the values to that array and check with console in <b>forms component</b></p>
    <p>now create a list components using ng g c name of component eg list  </p>
    <p>now create a ul and based on condition to show the data</p>
    <p>in List component.ts file import the <b>Input Decerator</b>,  and declare <b>@input('created input var')</b> before the variable declaration</p>
    <p>In <b>form component place the selector of the forms with like event binding [created input var]="values"</b></p>
</div>
<div>
    <h4>terms and conditions of transfer the data from child to parent</h4>
    <p>do the same but make a child component inside the parent component by using of output decorater and event emitter</p>
    <p>steps to follow</p>
    <p>create a form component and list component </p>
    <p>add the list component selector in app.component.ts & place the form component at top of the list component</p>
    <p>now understand the concept inside the list component form components are there</p>
    <p>now create a form write a logics using event emitting its not consider clearly </p>
</div>


