
<!-- <div *ngIf="isLoggedIn" class="navbar">
  <div class="nav-item" routerLink="/basic">Home</div>
  <div class="nav-item" routerLink="/directives">Directives</div>
  <div class="nav-item" routerLink="/form">form</div>
  <div class="nav-item" routerLink="/hooks">hooks</div>
  <div class="nav-item" routerLink="/http">http</div>
  <div class="nav-item" routerLink="/httptest">httptest</div>
  <div class="nav-item" routerLink="/reactiveForms">reactiveForms</div>
  <div class="nav-item" routerLink="/templateForms">templateForms</div>
  <div class="nav-item" routerLink="/paginations">paginations</div>

</div>
<router-outlet></router-outlet> -->

    <div class="navbar">
        <div class="nav-item" routerLink="/">Home</div>
        <div class="nav-item" routerLink="/directives">Directives</div>
        <div class="nav-item" routerLink="/form">form</div>
        <div class="nav-item" routerLink="/hooks">hooks</div>
        <div class="nav-item" routerLink="/http">http</div>
        <div class="nav-item" routerLink="/httptest">httptest</div>
        <div class="nav-item" routerLink="/reactiveForms">reactiveForms</div>
        <div class="nav-item" routerLink="/templateForms">templateForms</div>
        <div class="nav-item" routerLink="/paginations">paginations</div>
        <div class="nav-item" routerLink="/LocalLogin">Local Login</div>
    </div>
      <router-outlet></router-outlet>



  
      


  

