/* .navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}


.nav-item {
    cursor: pointer;
    padding: 10px;
    margin: 0;
    border: none;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    width: 100px;
}

.nav-item:hover {
    background-color: #93d9f7;
    transition: background-color 0.3s ease;
}


 */

 /* styles.css or your component's style file */
.navbar {
    display: flex;
    background-color: #007bff;
    padding: 5px;
 
  }
  
  .nav-item {
    padding: 10px;
    margin-right: 20px;
    color: white;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 10px;
  }
  
  .nav-item:hover {
    color: #0766AD;
    background-color: #87C4FF;
 
  }
  
