<h1>app components works</h1>
<app-basics></app-basics>
<app-directives></app-directives>
<app-form></app-form>
<h2>Angular Hooks </h2>
<ul>
    <li>ngOnChanges</li>
    <li>ngOninit</li>
    <li>ngDoCheck</li>
    <li>ngAfterContentinit</li>
    <li>ngAfterViewInit</li>
    <li>ngAfterViewChecked</li>
    <li>ngOnDestroy</li>
</ul>
<h4>ngOnChanges</h4>
<p> It is specifically designed to handle changes to the component's input properties.</p>
<ul>
    <li>OnChanges, SimpleChanges import these on that component ts file </li>
</ul>

<app-hooks></app-hooks>