<h2>Http module component works</h2>
<br>
<div>
    <h4>Steps to execute http modules  </h4>
    <ul>
        <li>import http client module in app.module </li>
        <li>import HttpClient in your http service needed components</li>
        <li>set constructor as http and type as HttpClient as private or public</li>
        <li>write a function </li>
        <li>call the api on ng on int</li>
    </ul>
</div>

<h4><b>Http Get Method</b> <br>Get user list from fake placeholder api </h4>

<div>
    <!-- post request  -->
        
    <div class="container">
        <h4>post the user data to api</h4>
        <form  [formGroup]="userForm" action="" method="post" (submit)="onSubmit()">
            <label>Name <input type="text" name="fullname" id="fullname" formControlName="fullName"></label><br>
            <label>Email <input type="email" name="email" id="email" formControlName="email"></label><br>
            <button type="submit">Submit user</button>
        </form>
    </div>
    
    <div>
        <h3>User List</h3>
        <ul>
            <li style="color: blue;" *ngFor="let user of users">
                 {{ user.name }} (ID: {{ user.id }})
            </li>
        </ul>
    </div>
    <div>
        <h1>User Information</h1>
        <!-- Input to get user ID from the user -->
        <label for="userId">Enter User ID:</label>
        <input type="number" id="userId" [(ngModel)]="selectedUserId" placeholder="Enter user id "/>
        <button (click)="getUserById()">Get User</button>    
    </div>
    <br>
    
    <!-- Display user information -->
    <div *ngIf="selectedUserData">
            <h3>User Details</h3>
            <p><strong>ID:</strong> {{ selectedUserData.id }}</p>
            <p><strong>Name:</strong> {{ selectedUserData.name }}</p>
            <p><strong>username:</strong> {{ selectedUserData.username }}</p>
            <p><strong>Email:</strong> {{ selectedUserData.email }}</p>
            <p><strong>Address:</strong> {{ selectedUserData.address.street +" "+selectedUserData.address.suite +" "+selectedUserData.address.city +" "+selectedUserData.address.zipcode}}</p>
            <p><strong>Geo Location:</strong> {{selectedUserData.address.geo.lat+" "+ selectedUserData.address.geo.lng}}</p>
            <p><strong>phone:</strong> {{ selectedUserData.phone }}</p>
            <p><strong>site:</strong> {{ selectedUserData.website }}</p>
            <p><strong>company name:</strong> {{ selectedUserData.company.name }}</p>
    </div>
    
    

    
</div>

<div>
    <div>
        <h4>Get Todo list with details </h4>
        <ul>
            <li *ngFor="let todo of todoList">{{todo.id}} (Todo: {{todo.title}})</li>
        </ul>
    </div>
    <div>
        <label for="userid">Enter Id :</label>
        <input type="number" name="id" id="id" [(ngModel)]="todoUserId" placeholder="enter id to show id based todo">
        <button (click)="getTodoById()">Get Todo By Id</button>
    </div>
    
</div>

<div *ngIf="todoSelectedUser">
    <h4>Selected Id Data.</h4>
    <p><strong> Id : </strong>{{todoSelectedUser.id}}</p>
    <p><strong>User Id  : </strong>{{todoSelectedUser.id}}</p>
    <p><strong>Title  : </strong>{{todoSelectedUser.title}}</p>
    <p><strong>Status  : </strong>{{todoSelectedUser.completed}}</p>
</div>



<div>
    <div>
        <h1>Todos Information</h1>
        <label for="userIdToDisplay">Enter User ID:</label>
        <input type="number" id="userIdToDisplay" [(ngModel)]="userIdToDisplay" placeholder="Enter user id" name="userIdToDisplay" />
        <button (click)="getTodosForUser(userIdToDisplay)">Display User Todos</button>
    </div>
    
    <!-- Display user todos -->
    <div *ngIf="selectedTodoData">
      <h3>User Todos</h3>
      <ul>
        <li *ngFor="let todo of selectedTodoData">
          {{ todo.title }} (Status: {{todo.completed}})
        </li>
      </ul>
    </div>
</div>



<div>
    <div>
        <h1>Todos Information with Id and Status</h1>
        <label for="userIdToFilter">Enter User ID:</label>
        <input type="number" id="userIdToFilter" [(ngModel)]="userIdToFilter" placeholder="Enter user id" name="userIdToFilter" />
        
        <label for="statusToDisplay">Status:</label>
        <select id="statusToDisplay" [(ngModel)]="statusToDisplay" name="statusToDisplay">
          <option [ngValue]="undefined">All</option>
          <option [ngValue]="true">Completed</option>
          <option [ngValue]="false">Not Completed</option>
        </select>
         
        <button (click)="getTodosForUserAndStatus()">Display User Todos</button>
    </div>
    
    <div *ngIf="showTodos">
        <h3>User Todos</h3>
        <ul>
        <li *ngFor="let todo of UidStatusData">
          {{ todo.title }} ( id :{{ todo.id }})
        </li>
        </ul>
    </div>
</div>

<!-- get images req -->

<!-- <div>
    <div>
        <h1>Get Request with images data</h1>
    </div>
    
    <div *ngIf="imageData">
        <h3>Images Data from url</h3>
        <ul>
        <li *ngFor="let todo of imageData">
          {{ todo.title }} ( id :{{ todo.id }}) ( ThumbnailUrl : {{todo.thumbnailUrl}}) <br>
          ({{todo.url}})
        </li>
        </ul>
    </div>
</div> -->


  
  